* {
    font-family: "Georgia";
    background-color: bisque;
    text-align: center;
}

p {
    text-align: left;
}

li, a {
    text-align: left;
    background-color: #fff1d2;
}

ul, ol {
    border: 1px solid brown;
    border-radius: 1%;
    background-color: #fff1d2;
}

img {
    width: 300px;
    height: auto;
    border: 2px solid black;
    border-radius: 2%;
}

.subtitle {
    text-decoration: underline;
}

.image-caption {
    color: grey;
    font-style: italic;
}